body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* 배경화면 */
#bgImage {
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;   /* 가로세로 비율 유지한 채로 사이즈 조절. 비율 맞지 않으면 이미지 확대하여 컨테이너 채움 https://nykim.work/86 */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;    /*-1: 텍스트가 위로, 1: 텍스트가 아래로*/ 
    pointer-events: none;
}

/* 네비게이션바 */
#navigation {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 50px; */
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 0;
}

/* 네비게이션 안 기능 버튼 */
#naviButtons {
    display: inline-flex;
    margin-right: 10px;
}
#funcitonButtons button {
    width: 40px;
    height: 40px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    border: 2px solid black;
}
#funcitonButtons button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}
.functionHidden {
    display: none;
}

/* 이름 입력 */
#before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}
#login-form input:first-child {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: x-large;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
    border-radius: 20px; */
    background-color: rgba(180, 180, 180, 0.2);
    border-radius: 10px 10px 2px 2px;
    border: none;
    border-bottom: 5px solid white;
}
#login-form input:first-child::placeholder {
    color: white;
    text-align: center;
    font-size: x-large;
}
#login-form input:first-child:focus {
    outline: none;
}
#login-form input:last-child {
    width: 100px;
    height: 55px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid white;
    /* border-radius: 0 20px 20px 0; */
    border-radius: 20px;
}
#login-form input:last-child:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* 이름 */
#greeting {
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
}

/* 배경 관련 기능 버튼 */
#backImgButtons {
    float: right;
    background-color: rgba(255, 255, 255, 0.53);
    padding: 10px;
    margin: 5px 10px 0 0;
    border-radius: 20px;
}
#imgbtns {
    display: flex;
    position: relative;
}
#backImgButtons button{
    text-align: center;
    width: 32px;
    height: 32px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-position: center;
}
#backImgButtons button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}
#fileButton{
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    border-radius: 20%;
    font-size: 20px;
    margin-bottom: 5px;
    background-position: center;
    position: absolute;
    right: 10px;
    padding: 5px 0 0
}
#fileButton:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}
#bgImageSrc input:first-child {
    width: 200px;
    height: 25px;
    border-radius: 10px;
}
#bgImageSrc input:first-child::placeholder {
    text-align: center;
}
#bgImageSrc input:last-child {
    width: 50px;
    height: 30px;
    border-radius: 10px;
}
#bgImageSrc input:last-child:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}
#chooseFile {
    display: none;
}

/* 날짜, 시간, 날씨 */
#dayInfo {
    text-align: center;
    width: 300px;
    background-color: rgb(197, 125, 30, 122);
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
#date {
    font-size: 20px;
    margin: 0;
}
#time {
    font-size: 50px;
    margin: 0;
}
#weather {
    display: flex;
    justify-content: center;
    align-items: center;
}
#weather img{
    width: 40px;
    background-color: rgb(179, 179, 179);
    border-radius: 30%;
    margin-right: 5px;
}
#weather span{
    font-size: 18px;
    padding: 0px 5px;
}

/* 스톱워치 */
#stopwatch {
    text-align: center;
    font-size: 40px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
#stopwatch h3 {
    margin: 0;
}
#stopwatch button {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
#stopwatch button:hover {
    cursor: pointer;
    background-color: rgb(192, 192, 192);
}

/* 투두 */
#todo {
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* float: right; */
    width: 100%;
    max-height: 500px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 20px;
    padding: 5px 10px;
    /* margin: auto 0 0 auto; */
}
#todo h2{
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    padding-left: 20px;
    padding-bottom: 25pxs;
}
#inputBox {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row button {
    cursor: pointer;
    border: none;
    border-radius: 40px;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 16px;
    padding: 16px 30px;
}
#todoList {
    max-height: 45vh;
    padding-left: 10px;
    overflow: scroll;
    overflow-y: overlay;
    overflow-x: hidden;
    /* overscroll-behavior-y: contain; */
}
#todoList::-webkit-scrollbar {
    width: 10px;
}
#todoList::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
#todoList::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
}
#todoList li{
    list-style: none;
    font-size: 17px;
    padding: 12px 40px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#todoList li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/check_box_blank.png);
    background-position: center;
    top: 12px;
    left: 8px;
}
#todoList li.checked {
    color: #555;
    text-decoration: line-through;
}
#todoList li.checked::before {
    background-image: url(images/check_box.png);
}
#todoList li span {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
#todoList li span:hover {
    background-color: #edeef0;
}

/* 메모장 */
.moveItem {
    /* position: absolute; */
    /* width: 100px;
    height: 100px; */
    /* background-color: antiquewhite; */
    /* pointer-events: none; */
    padding: 30px 10px;
    z-index: 5;
}
.moveItem:hover {
    cursor: pointer;
}
.moveItem:active {
    cursor: pointer;
}